* {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box !important;
  position: relative;
}

body {
  display:flex;
  margin:0;
  padding: 20px;
  width:100vw !important;
  overflow-x: hidden;
  justify-content:center;
  align-items:center;
  background:#262626;
  
}

canvas {
  width:16.5cm;
  height:24cm;
  margin: 10px;

  // &#canvasmid {
  //   // width:1.65cm !important;
  // }
}

input {
  display:block;
  border-radius:5px;
  margin:4px;
  padding:5px;
  width:100%;
  max-width: 700px;
  font-family:"Rubik";
  font-size:17px;
  outline:none;
}

select {
  display:block;
  border-radius:5px;
  margin:10px;
  padding:5px;
  width:100%;
  font-family:"Rubik";
  font-size:17px;
  outline:none;
}

button {
  display:block;
  border-radius:5px;
  margin:10px;
  padding:5px;
  width:100%;
  font-family:"Rubik";
  font-size:17px;
  outline:none;
  background:#00647d;
  max-width: 700px;
  outline:none;
  border:none;
  font-weight:bold;
  color:#e3e3e3;
  padding:10px 5px;
}


#cont {
  flex-wrap: wrap;
  display: flex;
}

textarea {
  display: block;
  border-radius: 5px;
  margin:4px;
  min-height: 100px;
  padding: 5px;
  width: 100%;
  max-width: 700px;
  font-family: "Rubik";
  font-size: 17px;
  outline: none;
  resize: none;
}

#container {
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#examples {
  width: 100%;
  max-width: 1300px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .example {
    width: 75px;
    height: 75px;
    padding: 10px;
    margin: calc(4px + 0.25vw);
    background-color: #00647d;
    border-radius: 10px;
    cursor: pointer;
    &#adv {
      background-color: #724762;
    }
    &.thisPart {
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.192);
    }
    &.part {
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: #e3e3e3;
      transition: 0.2s all;
      &:hover {
        filter: brightness(1.25);
      }
    }

    img {
      filter: invert(0.5) brightness(1000) brightness(0.9);
    }
  }
}

#gap {
  display: inline-block;
  width: 30px
}

#part_alt {
  background-color: #00647d;
  margin-bottom: 20px;
}

.unrender {
  color: #e3e3e3;
  font-size: 30px;
  border-radius: 10px;
  margin: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hidemexD {
  display: none;
}

.expand {
  padding: 10px;
  margin-bottom: 10px; 
  display: inline-block;
  background-color: #00647d;
  color: #e3e3e3;
  border-radius: 10px;
  opacity: 0.4;
}